body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    margin: 0;
}

.container {
    text-align: center;
    margin-top: 20px;
}

.game-board {
    color: yellow;
    border: 2px solid white;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 20px;
}

.row {
    display: flex;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell:hover {
    background-color: #ddd;
}

.turn-message {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1.4em;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    background-color: #fffb02;
    color: black;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: aliceblue;
}

#head{
    font-size: 60px;
    display: block;
    position: relative;
    bottom: 40px;
    background-color: white;
    padding: 2px;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#O{
    display: block;
    position: absolute;
    right: 1000px;
}

#X{
    display: block;
    position: absolute;
    right: 1000px;
    top: 400px;
}

#bind{
    display: flex;

}

span{
    display: inline-block;
    font-weight: bold;
    padding: 5px;
    color: black;
    background-color: white;
    border-radius: 10px;
    animation: aura 3s ease-in 0s infinite;
}

@keyframes aura{
    from{
        color: white;
        background-color: black;
    }
    to{
        color: black;
        background-color: white;
    }
}

